.App {
  text-align: center;
  margin: 20px;
  margin-top: 4%;
  background-color: rgb(177, 168, 168);
  
}

textarea {
  width: 90%;
  height: 100px;
  margin: 20px 0;
  background-color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  
}
